@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

:root {
  --primary-0: #C4FFF9;
  --primary-1: #68D8D6;
  --primary-2: #07BEB8;

  --black-0: #2b2b2b;
  --black-1: #1d1d1d;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  color: var(--black-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  max-width: 80%;
  margin: auto;
}

/* HEADER */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.app-header a {
  text-decoration: none;
  color: var(--primary-1);
}
.app-header a:hover {
  color: var(--primary-2);
}

/* LIST VIEW */
.exam-list {
  width: 100%;
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}
.exam-list th {
  border-bottom: 1px solid var(--black-0);
  padding: 0.8rem 1rem;
}
.exam-list td {
  padding: 0.6rem 1rem;
}
.exam-list .column-exam {
  width: 70%;
}
.exam-list .list-row:hover {
  background-color: var(--primary-0);
}

.exam-list button {
  background-color: var(--primary-1);
  color: white;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  padding: 0.3rem 0;
  width: 4.5rem;
}
.exam-list button:hover {
  background-color: var(--primary-2);
}

/* LIST VIEW - CELL */
.cell-exam {
  position: relative;  
}
.exam-actions {
  position: absolute;
  display: none;
  box-sizing: border-box;
  top: 0;
  right: 0;
  height: 100%;
  align-items: center;
  z-index: 5;
}
.exam-list .list-row:hover .exam-actions {
  display: flex;
}
.exam-actions button {
  margin-right: 1rem;
}

.hbox {
  display: flex;
  flex-direction: row;
}
.hbox.space-between {
  justify-content: space-between;
}

.exam-header {
  margin-bottom: 2rem;
}

.exam-section {
  margin-bottom: 2rem;
}

.exam-question {
  border: 1px solid #888888;
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem;
}

.exam-question {
  margin-bottom: 1rem;
}

.score-view {
  display: flex;
  flex-direction: row;
}
.score-view button {
  margin-left: 2rem;
}