/* COMMONS */
:root {
  --primary-0: #C4FFF9;
  --primary-1: #68D8D6;
  --primary-2: #07BEB8;

  --black-0: #2b2b2b;
  --black-1: #1d1d1d;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  color: var(--black-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  background-color: var(--primary-1);
  color: white;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  padding: 0.3rem 0;
  transition: 160ms;
}
button:hover {
  background-color: var(--primary-2);
}
button.button-md {
  width: 5rem;
  height: 2rem;
}

.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hbox.space-between {
  justify-content: space-between;
}

.app {
  max-width: 80%;
  margin: auto;
}

/* HEADER */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.app-header a {
  text-decoration: none;
  transition: 160ms;
  color: var(--primary-1);
}
.app-header a:hover {
  color: var(--primary-2);
}

/* LIST VIEW */
.exam-list {
  width: 100%;
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}
.exam-list th {
  border-bottom: 1px solid var(--black-0);
  padding: 0.8rem 1rem;
}
.exam-list td {
  padding: 0.6rem 1rem;
}
.exam-list .column-exam {
  width: 70%;
}
.exam-list .list-row:hover {
  transition: 200ms;
  background-color: var(--primary-0);
}
.exam-list button {
  width: 4.5rem;
}

/* LIST VIEW - CELL */
.cell-exam {
  position: relative;  
}
.exam-actions {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  top: 0;
  right: 0;
  height: 100%;
  align-items: center;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}
.exam-list .list-row:hover .exam-actions {
  visibility: visible;
  opacity: 1;
}
.exam-actions button {
  margin-right: 1rem;
}

/* EXAM VIEW */
.exam-header {
  position: sticky;
  top: 0;
}
.exam-header .hbox {
  background-color: white;
}
.exam-header .header-gradient {
  height: 1rem;
  width: 100%;
  background-image: linear-gradient(white, transparent);
}
.exam-header h2 {
  margin: 0.6rem 0 0.3rem 0;
}

.exam-section {
  margin-bottom: 2rem;
}

.exam-question {
  border: 1px solid #888888;
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem;
}
.exam-question p {
  margin-top: 0;
}
.exam-question 

.score-view {
  display: flex;
  flex-direction: row;
}
.score-view button {
  margin-left: 2rem;
}